.square {
    background: #fff;
    border: 1px solid black;
    line-height: 60px;
    height: 60px;
    width: 60px;
    padding: 0;
    float: left;
    text-align: center;
}

.row::after {
    clear: both;
    content: '';
    display: table;
}