.error {
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type='text'], input[type='email'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: lightblue;
    padding: 8px 40px;
    padding-top: 10px;
    display: block;
    border: none;
    cursor: pointer;
}