.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 0.5px solid gray;
}

.menuIcon {
    grid-column: 1 / 2;
    text-align: left;
}

.wordleHeading {
    grid-column: 2 / 3;
    text-align: center;
}

.rightIcons {
    grid-column: 3 / 4;
    text-align: right;
}

.icon {
    margin-right: 20px;
    cursor: pointer;
}

.rightCornerButton {
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 1028px) {
    .header {
        grid-template-columns: 1fr 2fr;
    }
}