.styledTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.styledTable th, .styledTable td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}