.letterGrid {
    text-align: center;
    padding-top: 50px;
}

.square {
    width: 60px;
    height: 60px;
    background: white;
    border: 2px solid lightgray;
    margin: 3px;
    text-align: center;
    display: inline-block;
}

.row::after {
    clear: both;
    display: table;
    content: '';
}